
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <h1>Confirm Delete User</h1>
    <p>Are you sure you want to delete the user "{{ user.username }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="danger">Yes, delete</button>
        <a href="{% url 'get_users' %}">Cancel</a>
    </form>
</body>
</html>
