<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <title>Create or Update User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Create/Update User</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <a href="{{ url_for('get_users') }}">Back to Users</a>
</body>
</html>
